p{
    color: green;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    width: 300px;
    background-color: lightgrey;
    margin: auto;
}
div{
    background-color: white;
    padding: 60px 30px;
    width: fit-content;
    margin: auto;
    margin-top: 50px;
    border: solid green 60px;
}

